.container-episode-post {
    display: none;
}

.container-episode-post:nth-child(1),
.container-episode-post:nth-child(2),
.container-episode-post:nth-child(3),
.container-episode-post:nth-child(4),
.container-episode-post:nth-child(5)
{
    display: flex;
}

.container-episodes-section { 
    margin-top: 0;
    padding-top: 0;
}
