.container-episodes-section {
    margin-top: 200px;
    
}

.heading-episodes-section {
    text-align: left;
    padding-left: 70px;
}

.container-episode-post {
    display: none;
}

.container-episode-post:nth-child(1),
.container-episode-post:nth-child(2),
.container-episode-post:nth-child(3),
.container-episode-post:nth-child(4),
.container-episode-post:nth-child(5)
{
    display: flex;
}
