* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    padding: 0;
    margin: 0;
    font-family: avenir next;
}

p {
    line-height: 20px;
}

header {
    background-color: rgb(34,34,34);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px 50px 20px 50px;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 350px;
}


.img {
    height: 80px;
}

.podcast-links-headers {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
}

.podcast-links-headers > li > a {
    text-decoration: none;
    color: rgb(221,221,221);
    font-size: 25px;
}

.podcast-links-headers > li > a:hover {
    opacity: 0.85;
    transition: 300ms;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 50px;
}

.nav-link-ani {
    text-decoration: none;
    color: rgb(221,221,221);
    font-size: 20px;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    opacity: 0.75;
}

.nav-link-ani:hover {
    opacity: 1;
}

.nav-link-ani::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    top: 75px;
    background-color: rgb(221,221,221);
  }

  .nav-link-ani::before {
    width: 0%;
    bottom: 5px;
  }
  .nav-link-ani:hover::before {
    width: 6.5%;
  }

.container-welcome {
    width: 100%;
    height: calc(100vh - 100px);
    margin: 0px;
    margin-top: 90px;
    align-content: center;
    justify-content: center;
    background-color: rgb(221,221,221);
    text-align: center;
    z-index: 0;
}

.message {
    height: 40%;
    width: 100%;
    padding-top: 150px;
    font-weight: bold;
    font-size: 200px;
    color: rgb(221,221,221);
    text-shadow: -3px -3px 0 rgb(210, 18, 18), 3px -3px 0 rgb(210, 18, 18), -3px 3px 0 rgb(210, 18, 18), 3px 3px 0 rgb(210, 18, 18);

}

.scroll {
    padding-top: 50px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(34,34,34);
}



.container-about-section {
    background-color: rgb(34,34,34);
    color: rgb(221,221,221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 200px;
    width: 100%;
    padding: 200px 15px 250px 15px;
    margin: 0;
}

.container-subjects {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.subject {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    width: 100%;
    padding: 50px 10px 50px 10px;
    background-color: rgb(221,221,221);
    color: rgb(34,34,34);
    border-radius: 5px;
    box-shadow: 7px 7px black;
}

.subject > i {
    font-size: 80px;
}


.subject > h1 {
    font-size: 40px;
    font-weight: normal;
    text-shadow: 2px 2px white;
}

.subject > p {
    font-size: 20px;
    line-height: 30px;
}

.container-author {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 95%;
    gap: 50px;
    padding: 100px;
    border-bottom: 3px solid rgb(221,221,221);
    border-top: 3px solid rgb(221,221,221);
}


.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 40px;
    padding-left: 50px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    gap: 25px;
    
}


.author-picture {
    border-radius: 50%;
    border: 4px solid rgb(221,221,221);
    box-shadow: 5px 5px black;
}

.author-description {
    text-align: left;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;

}

.author-name {
    font-weight: bold;
    font-size: 30px;
    text-shadow: 5px 5px black;
}

.author-functionality {
    font-weight: lighter;
    font-size: 20px;
}

.container-episodes-section {
    background-color: rgb(221,221,221);
    color: rgb(34,34,34);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: left;
    gap: 0px;
    width: 100%;
    padding: 100px 0px 100px 0px;
    margin: 0;
}

.heading-episodes-section {
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    padding-left: 250px;
    text-shadow: 2px 2px white;
}

.container-episodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 100px;
    width: 100%;
    padding: 50px 200px 50px 250px;
    margin: 0;
    overflow: scroll;
}


.container-episode-post {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-items: center;
    gap: 50px;
}

.container-episode-post > iframe {
    box-shadow: 6px 6px 1px rgb(34,34,34);
}

.container-episode-post-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 17px;
    
    height: 352px;
}

.container-episode-post-text > h1 {
    text-decoration: underline;
    text-shadow: 1px 1px white;
}

.container-episode-post-text > p {
    line-height: 25px;
    font-size: 18px;
    overflow: scroll;
}

.feedback {
    font-size: 25px;
    margin: 80px 150px 80px 150px;
    padding: 20px 50px 20px 50px;
    text-align: center;
    border: 2px solid rgb(34,34,34);
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(34,34,34);
}

.feedback > p {
    line-height: 40px;
}

.feedback > p > a {
    text-decoration: none;
    text-decoration: underline;
    color: rgb(34,34,34);  
    font-size: 25px;
}

.container-sources {
    background-color: rgb(34,34,34);
    color: rgb(221,221,221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: left;
    gap: 20px;
    width: 100%;
    padding: 50px 50px 50px 50px;
    margin: 0;
}

.heading-sources {
    font-weight: normal;
    font-size: 30px;
    text-shadow: 5px 5px black;
}

.sub-heading-sources {
    font-weight: bold;
    font-size: 50px;
    text-shadow: 7px 7px black;
}

.podcast-links {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
    padding: 10px;
    margin: 0px;
}

.link-button {
    height: 85px;
    width: 150px;
    padding: 15px 50px 15px 50px;
    font-size: 50px;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    box-shadow: 7px 7px black;
}

.link-button > a {
    color: rgb(34,34,34);
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 25px;
    padding: 100px 50px 50px 50px;
}

.social-media-links {
    display: flex;
    gap: 50px;
}

.social-media-links > a {
    color: rgb(34,34,34);
    text-decoration: none;  
    font-size: 50px;
}

.other-links {
    display: flex;
    gap: 20px;
    color: rgb(34,34,34);  
    font-size: 15px;
}

.other-links > a {
    text-decoration: underline;
    color: rgb(34,34,34);  
    font-size: 15px;
}

