* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

body {
    padding: 75px 0 0 0;
}

header {
    background-color: rgb(34,34,34);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px;
    z-index: 10000;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
}

nav > ul > li > a {
    text-decoration: none;
    color: rgb(221,221,221);
    font-size: 25px;
}

.background-welcome-section {
    width: 100%;
    height: 100%;
    margin: 0;
    filter: brightness(25%);
    z-index: -1;
}

#welcome-section {
    height: calc(100vh - 75px);
    text-align: center;
}

.title-welcome-section {
    color: rgb(221,221,221);
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 60px;
}

.sub-title-welcome-section{
    color: rgb(221,221,221);
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 370px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 40px;
}

.container-about-section {
    background-color: rgb(34,34,34);
    color: rgb(221,221,221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 200px;
    width: 100%;
    padding: 200px 50px 175px 50px;
    margin: 0;
}

.container-subjects {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 70px;
    width: 100%;
}

.subject {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    width: 100%;
}

.subject > i {
    font-size: 80px;
}


.subject > h1 {
    font-size: 40px;
    font-weight: lighter;
}

.subject > p {
    font-size: 20px;
    line-height: 30px;
}

.container-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 40px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.author-picture {
    border-radius: 50%;
    border: 4px solid rgb(221,221,221);
}

.author-description {
    text-align: center;
    line-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.author-name {
    font-weight: bold;
    font-size: 30px;
}

.author-functionality {
    font-weight: lighter;
    font-size: 20px;
}

.container-episodes-section {
    background-color: rgb(221,221,221);
    color: rgb(34,34,34);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 100px;
    width: 100%;
    padding: 100px 50px 175px 50px;
    margin: 0;
}

.heading-episodes-section {
    font-weight: bold;
    font-size: 50px;
}

.container-episodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 50px;
    width: 100%;
    padding: 50px 50px 50px 50px;
    margin: 0;
    border: 5px solid rgb(34,34,34);
    border-radius: 5px;
    overflow: scroll;
}


.container-episode-post {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-items: center;
}

.container-episode-post-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}