* {
    box-sizing: border-box;
    /*border: 1px solid white*/
}

:root {
    --background-color: linear-gradient(to bottom right, rgb(34,34,34), rgb(63, 63, 63));;
    --default-font-color:rgb(221,221,221);
    --special-color:#bf8148;
    --xxxl-font-size: 3.3rem;
    --xxl-font-size: 3rem;
    --xxl-line-height: 4.5rem;
    --xl-font-size: 2.25rem;
    --xl-line-height: 3.375rem;
    --l-font-size: 1.625rem;
    --l-line-height: 2.5rem;
    --m-font-size: 1.125rem;
    --m-line-height: 1.6875rem;
    --s-font-size: 1rem;
    --s-line-height: 1.5rem;
    --xs-font-size: 0.875rem;
    --xs-line-height: 1.3125rem;
    --xxs-font-size: 0.75rem;
    --xxs-line-height: 1.125rem;

    --primary-100:#FFFFFF;
    --primary-200:#e0e0e0;
    --primary-300:#9b9b9b;
    --accent-100:#7F7F7F;
    --accent-200:#ffffff;
    --text-100:#FFFFFF;
    --text-200:#777777;
    --bg-100:#000000;
    --bg-200:#161616;
    --bg-300:#2c2c2c;
      
}

body {
    font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
    background: linear-gradient(to bottom right, rgb(34,34,34), rgb(63, 63, 63));
    color: var(--default-font-color);
    font-size: var(--m-font-size);
    line-height: var(--m-line-height);
    margin: 0;
}

p {
    hyphens: auto;
    -webkit-hyphens: auto;
    text-align: justify;
}

h1, h2{
    font-size: var(--xl-font-size);
    line-height: var(--l-line-height);
    font-weight: 800;
  }

a {
    font-size: var(--m-font-size);
    
}

a, h1 h2, h3, h4, h5, h6, p{
    color: var(--default-font-color);
}









/*WELCOME-SECTION*/



    .container-welcome {
        max-width: 100vw;
        padding: 1.5rem 2.5rem 1.5rem 2.5rem;
        margin-top: 0.8rem;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        align-content: center;
        justify-content: center;
        text-align: center;
        z-index: 0;
    }


    /*WELCOME > LEFT SIDE*/
    .welcome-left {
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
    }

        .welcome-links {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1.2rem;
            align-content: center;
            justify-content: center;
            text-align: center;
            z-index: 1000;
            
        }

        .welcome-links > .play, .subscribe {
            border-radius: 10px;
            padding: 1.2rem 0.5rem 1rem 0.5rem;
            font-weight: bold;
            text-decoration: none;
            
        }

        .play {
            background-color: var(--default-font-color);
            color:rgb(34,34,34);
            border: 2px solid var(--default-font-color);
        }

        .subscribe {
            background-color:var(--background-color);
            border: 2px solid var(--default-font-color);
        }

        .play:hover {
            background-color: var(--special-color);
            color:var(--default-font-color);
            border: 2px solid var(--default-font-color);
            cursor: pointer;
            transition: 300ms;
        }

        .subscribe:hover {
            background-color: var(--special-color);
            color:var(--default-font-color);
            cursor: pointer;
            transition: 300ms;
        }

    /*WELCOME > RIGHT SIDE*/
    .welcome-right {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .welcome-right > .img-welcome {
        border-radius: 10px;
        max-height: 100%;
    }

    .welcome-right > .img-welcome1 {
        display: none;
        max-height: 100%;
    }



    @media (min-width: 730px) {

        .container-welcome {
            margin: 0rem 0rem 3rem 0rem;
            padding: 0rem;
            flex-direction: column;
            justify-content: space-between;
            gap: 2.5rem;
        }
    
    
        /*WELCOME > LEFT SIDE*/
        .welcome-left {
            flex-direction: row;
            padding: 0;
            margin: 0;
            justify-content: center;
        }

        .welcome-left > .welcome-text {

            margin: 0;
        }
    
            .welcome-text > h1 {
            display: none;

        }

        .welcome-text > p {
            padding: 0 10rem 0 10rem;
            margin: 0;
            text-align: left;
            min-width: 940px;
        }

        .welcome-links {
            display: flex;
            flex-direction: row;
        }

            .welcome-links > .play, .subscribe {
                padding: 1.2rem 0.5rem 1rem 0.5rem;
                font-size: 17px;
                min-width: 300px;

            }
    
        /*WELCOME > RIGHT SIDE*/
        .welcome-right {
            justify-content:flex-start;
            max-height: 50%;
            margin-bottom: 1rem;
        }

        .welcome-right > .img-welcome1 {
            display: block;
            border-top: 1px solid var(--default-font-color);
            border-bottom: 1px solid var(--default-font-color);
            border-radius: 10px;
        }

        .welcome-right > .img-welcome {
            display: none;
        }
    }










/*EPISODES-SECTION*/
.container-episodes-section {
    max-width: 100vw;
    padding: 0rem 2.5rem 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: left;
    gap: 0.8rem;
    margin-bottom: 3.5rem;
    margin-top: 1.5rem;
}
    /*EPISODES-SECTION > HEADING*/
    .heading-episodes-section {
        width: 50%;
        text-align: center;
    }

    /*EPISODES-SECTION > CONTAINER FOR EPISODES*/
    .container-episodes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 100%;
        overflow: scroll;
        gap: 3.5rem;
    }
    

        /*EPISODES-SECTION > CONTAINER FOR EPISODES > ITEM*/
        .container-episode-post {
            display: flex;
            flex-direction: row;
            align-items: top;
            justify-items: center;
            gap: 1.25rem;
            max-width: 1000px;

        }

            .container-episode-post-text {
                display: none;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                height: 22rem;
            }

            .container-episode-post-text > h2 {
                align-self: flex-start;
                font-weight: lighter;
                margin: 0 0 1rem 0;
                font-size: var(--l-font-size);
            }

            .container-episode-post-text > h1 {
                text-decoration: none;
                margin: 0 0 1rem 0;
                font-size: var(--l-font-size);
                text-align: left;
            }

            .container-episode-post-text > p {
                overflow: scroll;
                margin: 0;
            }
 
        /*EPISODES-SECTION > CONTAINER FOR EPISODES > SHOW MORE BUTTON*/

            #show-more {
                color: rgb(34,34,34);
                background-color: var(--default-font-color);
                padding: 20px;
                text-decoration: none;
                border: 2px solid var(--default-font-color);
                border-radius: 10px;
                padding: 1rem 1rem 1rem 1rem;
                font-weight: bold;
            }

            #show-more:hover {
                cursor: pointer;
                background-color: var(--background-color);
                color: var(--default-font-color);
                border: 2px solid var(--default-font-color);
                transition: 300ms;
            }

    /*EPISODES-SECTION > FEEDBACK CONTAINER*/
    .feedback {
        padding: 0rem 1rem;
        border: 2px solid var(--default-font-color);
        border-radius: 10px;
        max-width: 940px;
    }

        .feedback > p > a {
            text-decoration: underline; 
            font-weight: bold;
        }
    
                
    @media (min-width: 800px) {

        .container-episodes-section {
            padding: 2.7rem;
        }

        .container-episode-post {
            padding: 2rem;
        }

        .heading-episodes-section {
            width: 100%;
            padding: 1.7rem;
            font-size: var(--xl-font-size);
        }

        .most-recent {
             border: 1px solid var(--default-font-color);
             border-radius: 10px;
             width: 100%;
             background-color: rgb(55, 55, 55);
             padding: 3rem;
         }

         .container-episode-post-text {
            display: flex;
        }

            .feedback {
                margin-bottom: 3rem;
            }
    }



















/*PLATFORM LINKS - SECTION*/
.container-sources {
    max-width: 100%;
    padding: 4rem 2.5rem 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0;
    gap: 0.5rem;
    margin-bottom: 3.3rem;
}
    /*PL-SECTION > HEADINGS*/
    .heading-sources {
        text-align: center;
        font-size: var(--l-font-size);
        margin: 0;
    }

    .sub-heading-sources {
        text-align: center;
        font-weight: normal;
        font-size: var(--m-font-size);
        margin: 0;
        margin-bottom: 2.5rem;
    }

    /*PL-SECTION > LINKS CONTAINER*/
    .podcast-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 1rem;
    }

        /*PL-SECTION > LINKS CONTAINER > BUTTONS*/

        .podcast-links > a {
            font-size: var(--xl-font-size);
            color: var(--default-font-color);
            text-decoration: none;
            z-index: 1;
            background-color: var(--background-color);
            cursor: pointer;
            border: 2px solid var(--default-font-color);
            border-radius: 10px;
            padding: 1rem 0.5rem 1rem 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
        }

        .podcast-links > a > label {
            font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            font-size: var(--m-font-size);
            font-weight: bold;
        }

        .podcast-links > a:hover {
            cursor: pointer;
            background-color: var(--default-font-color);
            color: rgb(34,34,34);
            border: 2px solid var(--default-font-color);
            transition: 300ms;
        }

        .podcast-links > a > label:hover {
            cursor: pointer;
            transition: 300ms;
        }


        @media (min-width: 700px) {

            .container-sources {
                padding-top: 2.5rem;
                margin-bottom: 7rem;
            }

            .podcast-links {
                max-width: 440px;
            }

            .heading-sources {
                font-size: var(--xl-font-size);
                margin-bottom: 1.7rem;
            }
        
            .sub-heading-sources {
                font-size: var(--l-font-size);
                margin-bottom: 3.5rem;
            }

        }















/*ABOUT-SECTION*/
.container-host-section {
    width: 100%;
    padding: 2rem 2.5rem 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

    .container-author {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
        gap: 0rem;
    }

        .author-name {
            text-decoration: none;
        }

        .author-name:hover {
            transition: 300ms;
            opacity: 0.85;
        }


        .picture-host {
            display: flex;
            align-items: center;
            justify-items: center;
        }

            .author-picture {
                height: 17rem;
                border-radius: 50%;
                border: 2px solid rgb(221,221,221);
                box-shadow: 2px 2px black;
            }
            
            
        
        /*ABOUT-SECTION > BOTTOM CONTAINER*/
        .text-host {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            text-align: center;
        }

        .author-functionality {
            font-size: var(--m-font-size);
            line-height: var(--m-line-height);
        }


        @media (min-width: 700px) {
            .container-host-section {
                padding-top: 2.5rem;
                max-width: 940px;
            }

            .author-functionality {
                max-width: 600px;
                margin-bottom: 2.5rem;
            }
            
        }



















